body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 10;
    color: #ccc;
    background-color: #131313;
}

header h1 {
    margin-top: 0;
    border: none;
    border-bottom: 15px solid;
    border-image: linear-gradient(to right,
    #2d2d2d 0%,  #2d2d2d 3.125%,
    #393939 3.125%, #393939 9.375%,
    #515151 9.375%, #515151 15.625%,
    #747369 15.625%, #747369 21.875%,
    #a09f93 21.875%, #a09f93 28.125%,
    #d3d0c8 28.125%, #d3d0c8 34.375%,
    #e8e6df 34.375%, #e8e6df 40.625%,
    #f2f0ec 40.625%, #f2f0ec 46.875%,
    #f2777a 46.875%, #f2777a 53.125%,
    #f99157 53.125%, #f99157 59.375%,
    #ffcc66 59.375%, #ffcc66 65.625%,
    #99cc99 65.625%, #99cc99 71.875%,
    #66cccc 71.875%, #66cccc 78.125%,
    #6699cc 78.125%, #6699cc 84.375%,
    #cc99cc 84.375%, #cc99cc 90.625%,
    #d27b53 90.625%, #d27b53 100%
  ) 1; /* 1 specifies that the border image slices are 1 unit wide */
  border-image-slice: 1; /* Make sure the entire gradient is visible */
  padding: 10px; /* Add padding to keep the content away from the border */
  box-sizing: border-box; /* Include padding in the element's total width */
}

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
}

.content {
    flex: 0 0 58%; /* 60% width for the content area */
}

.navigation {
    flex: 0 0 22%; /* 25% width for the navigation */
}

nav ul {
    list-style: none; /* Removes bullet points from list */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline; /* For horizontal list */
    margin-right: 10px; /* Space between list items */
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content, .navigation {
        flex: 0 0 100%;
    }
}
