<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="{{ "/css/style.css" | digest }}">
    <link rel="stylesheet" href="{{ "/css/prism-one-light.css" | digest }}">
    <title>{{ title }}</title>
</head>

<body>
    <div class="container">
        {% include 'header.html' %}

        <main class="content">
            {{ content }}
        </main>
    </div>
    {% include 'footer.html' %}
</body>

</html>