<section class="navigation">
    <ul>
        <li><a href="/captions" aria-label="The AutoCaptions Project">
            <img src="{{ '/assets/svg/closedcaptions.svg' | digest }}" alt="The AutoCaptions Project">
        </a></li>
        <li><a href="/about" aria-label="About">
            <img src="{{ '/assets/svg/personbadge_about.svg' | digest }}" alt="About">
        </a></li>
        <li><a href="/colophon" aria-label="Colophon">
            <img src="{{ '/assets/svg/housegear_colophon.svg' | digest }}" alt="Colophon">
        </a></li>
        <li><a href="/archive" aria-label="Archive">
            <img src="{{ '/assets/svg/filebox_archive.svg' | digest }}" alt="Archive">
        </a></li>
        <li><a href="https://bsky.app/profile/edmistond.bsky.social" aria-label="BlueSky profile">
            <img src="{{ '/assets/svg/bluesky.svg' | digest }}" alt="BlueSky">
        </a></li>
        <li><a rel="me" href="https://hachyderm.io/@edmistond" aria-label="Mastodon profile">
            <img src="{{ '/assets/svg/mastodon.svg' | digest }}" alt="Mastodon">
        </a></li>
        <li><a href="https://github.com/edmistond" aria-label="GitHub profile">
            <img src="{{ '/assets/svg/github.svg' | digest }}" alt="GitHub">
        </a></li>
        <li><a href="https://www.linkedin.com/in/edmistond/" aria-label="LinkedIn profile">
            <img src="{{ '/assets/svg/linkedin.svg' | digest }}" alt="LinkedIn">
        </a></li>
        <li><a href="/index.xml" aria-label="RSS feed">
            <img src="{{ '/assets/svg/feed.svg' | digest }}" alt="Feed">
        </a></li>
    </ul>
</section>
