<section class="navigation">
    <ul>
        <li><a href="/captions">
            <img src="{{ '/assets/svg/closedcaptions.svg' | digest }}" alt="The AutoCaptions Project">
        </a></li>
        <li><a href="/about">
            <img src="{{ '/assets/svg/personbadge_about.svg' | digest }}" alt="About">
        </a></li>
        <li><a href="https://bsky.app/profile/edmistond.bsky.social">
            <img src="{{ '/assets/svg/bluesky.svg' | digest }}" alt="BlueSky">
        </a></li>
        <li><a rel="me" href="https://hachyderm.io/@edmistond">
            <img src="{{ '/assets/svg/mastodon.svg' | digest }}" alt="Mastodon">
        </a></li>
        <li><a href="https://github.com/edmistond">
            <img src="{{ '/assets/svg/github.svg' | digest }}" alt="GitHub">
        </a></li>
        <li><a href="https://www.linkedin.com/in/edmistond/">
            <img src="{{ '/assets/svg/linkedin.svg' | digest }}" alt="LinkedIn">
        </a></li>
    </ul>
</section>
